<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      About
    </ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
  <ion-row color="primary" justify-content-center>
    <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
      <div text-center padding>
        <img src="../../assets/images/zz.png" width="110px" height="100px"/>
      </div>
      <div text-center padding>
 
  <h1>About Developer:</h1>
<p>Name: Waqas Abbasi</p>
<p>Institution: IIUI</p>
<p>Full Stack Developer</p>
      </div>
  </ion-col>     
</ion-row>
      </ion-grid>
</ion-content>