<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Forgot Password
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="forgotPasswordForm">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center padding>
            <img src="../../assets/images/zz.png" width="110px" height="100px"/>
          </div>
          <div text-center>
            <h3>Welcome!</h3>
            <h2>Please Enter Your email to continue</h2>
            <ion-buttons slot="start">
              <ion-back-button defaultHref="home"></ion-back-button>
            </ion-buttons>
        </div>
          
          <div padding>
            <ion-item>
              <ion-input name="email" type="email" placeholder="your@email.com" formControlName="email"></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button  shape="round" size="large" [disabled]="forgotPasswordForm.invalid" (click)="forgotPassword()" expand="block">Send Email
              <ion-spinner name="bubbles" *ngIf="clicked" ></ion-spinner>
            </ion-button>
          </div>
          
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>